@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "New Amsterdam", Arial, Helvetica, sans-serif;
  background-image: linear-gradient(blanchedalmond, #f0f0f0);
}

main {
  max-width: 1060px;
}

textarea,
input {
  border-width: 5px;
  border-color: aquamarine;
  border-style: inset;
  background-color: plum;
  font-family: "New Amsterdam", Arial, Helvetica, sans-serif;
  font-size: 24px;
}

input:not([type="checkbox"]) {
  width: 300px;
}

input {
  margin-bottom: 20px;
}

fieldset {
  align-items: center;
  border: 5px inset aquamarine;
}

legend {
  font-size: 32px;
  padding-left: 10px;
  padding-right: 10px;
}

textarea {
  width: 300px;
  height: 150px;
  resize: none;
  margin-bottom: 20px;
}

.checkbox-wrapper-5 {
  margin: 0 10px 0 0;
  display: flex;
  align-items: center;
}

.info {
  text-align: justify;
  margin: 0 auto;
  padding: 0 5px;
  font-size: 24px;
}

.spam {
  display: flex;
  flex-direction: column;
}

#email {
  margin-bottom: 10px;
}

.text-huge {
  font-size: 64px;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.mb-20 {
  margin-bottom: 50px;
}

.mb-10 {
  margin-bottom: 10px;
}

.profile-pic {
  max-width: 400px;
  max-height: 800px;
  border: 5px inset aquamarine;
  padding: 5px;
  background-color: plum;
}

.btn {
  background-color: plum;
  border-color: aquamarine;
  border-style: inset;
  font-family: "New Amsterdam", Arial, Helvetica, sans-serif;
  font-size: 48px;
  min-width: 140px;
  border-width: 5px;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: rgb(173, 125, 173);
}

.hidden {
  display: none;
}

.contact-us-container {
  background-color: rgba(255, 235, 205, 0.726);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.no-scroll {
  overflow: hidden;
}

.contact-us {
  background-image: linear-gradient(blanchedalmond, #f0f0f0);
  max-width: 400px;
  position: relative;
}

.close-contact-btn {
  position: absolute;
  top: -22px;
  right: -50px;
  background-color: aquamarine;
  border: 5px solid plum;
  border-style: inset;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}

.close-contact-btn:hover {
  background-color: rgb(94, 188, 157);
  color: rgb(255, 0, 0);
}

.deg45 {
  display: flex;
  top: 0;
  align-items: center;
  align-self: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
}
